<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CVV</title>

	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<link th:href="@{/css/halfmoon.min.css}" rel="stylesheet" />
	<script th:src="@{/js/halfmoon.min.js}" ></script>
	
	<!--Mapa-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	  crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
	  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
	  crossorigin=""></script>
	  
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		
</head>
<body>
  <div class="page-wrapper overflow-y-scroll with-navbar">
	<!--Navbar-->
	<div class="navbar">
		<div class="col-md-9 offset-md-1">
			<a href="/">Login</a>
		</div>
		<div class="text-right">
			<span>
				<small>Produzido por Renato Perdiz Rodrigues</small>
			</span>
		</div>
	</div>
	<div class="row formLogin">
		<div class="col-md-6 offset-md-3 formDiv formLogin">
			<h1>Criar Usuário</h1>
			<form action="#" th:action="@{/store}" th:object="${usuario}", method="POST">
				<h5>Preencha suas informações!</h5>
				<div class="text-right" style="margin-top:1em;">
				</div>
				
	            <div class="sidebar-divider"style="margin-top:1em;margin-bottom:1em;"></div>
	            
	            <label for="Nome Completo">Nome Completo</label>
	            <input id="nome" required class="form-control" type="text" th:field="*{nome}">
	            <span class="erro_val" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
	            <br th:if="${#fields.hasErrors('nome')}" />
	            <label for="E-mail">E-mail</label>
	            <input id="email" required class="form-control" type="text" th:field="*{email}">
	            <span class="erro_val" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
	            <br th:if="${#fields.hasErrors('email')}" />
	            <label for="Senha">Senha</label>
	            <input id="senha" required class="form-control" type="password" th:field="*{senha}">
	            <span class="erro_val" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>
	            <br th:if="${#fields.hasErrors('senha')}" />
	            <label for="CPF">CPF</label>
	            <input id="cpf" required class="form-control" type="text" pattern="\d*" maxlength="11" th:field="*{cpf}">
	            <span class="erro_val" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"><br></span>
	            <label for="Endereço">Endereço</label>
	            <input type="search" id="endereco" th:field="*{endereco}" placeholder="Digite para Buscar">
	            <span class="erro_val" th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"></span><br>
	            <label for="Cidade">Cidade</label>
	            <input readonly class="form-control" id="cidade" type="text" th:field="*{cidade}" style="background-color: #e3e3e3" placeholder="Digite seu endereço acima...">
	            <label for="Estado">Estado</label>
	            <input readonly class="form-control" id="uf" type="text" th:field="*{uf}" style="background-color: #e3e3e3;" placeholder="Digite seu endereço acima..."><br>
	            <br th:if="${#fields.hasErrors('cpf')}" />
	            <input class="form-control" type="hidden" id="lat" th:field="*{latitude}">
	            <input class="form-control" type="hidden" id="long" th:field="*{longitude}">
	            <input class="form-control" type="hidden" name="metodo" value="criacao">
	
				<div class="text-right" style="margin-top:1em;">
				    <button id="verificador" type="button" onclick="verificaEndereco()" class="btn btn-success">Verificar Endereço</button>
		            <button id="cadastrador" style="display:none;" class="btn btn-success">Cadastrar</button>
		        </div>
	        </form>
	    </div>
	</div>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
    <script>
        //Instanciamos o Algolia Places
        var placesAutocomplete = places({
            appId: 'plG7RVYOC7TK',
            apiKey: '1f4ea0bd7fee503c3c603ad1bba2bd5e',
            container: document.querySelector('#endereco')
        });

        //Preenchemos a latitude e longitude
        var lat = document.getElementById("lat");
        var long = document.getElementById("long");
        var cidade = document.getElementById("cidade");
        var uf = document.getElementById("uf");

        placesAutocomplete.on('change', function(e){
            console.log(e.suggestion);
                lat.value = e.suggestion['latlng']['lat'];
                long.value = e.suggestion['latlng']['lng'];
                cidade.value = typeof(e.suggestion.city) !== 'undefined' ? e.suggestion['city'] : '';
                uf.value = typeof(e.suggestion.administrative) !== 'undefined' ? e.suggestion['administrative'] : '';
            }
        );

        //Removemos caso o usuário apague
        placesAutocomplete.on('clear', function(e){
                lat.value = '';
                long.value = '';
                cidade.value = '';
                uf.value = '';
            }
        );

    </script>
	<script>
        function verificaEndereco(){
            //Objetos a verificar
            var lat = document.getElementById("lat");
            var long = document.getElementById("long");
            var cidade = document.getElementById("cidade");
            var uf = document.getElementById("uf");
            var endereco = document.getElementById("endereco");
            
            
            var nome = document.getElementById("nome");
            var email = document.getElementById("email");
            var senha = document.getElementById("senha");
            var cpf = document.getElementById("cpf");
            var infos = document.getElementById("infos");
            var infos2 = document.getElementById("infos2");
            
            //Botões pra mostrar ou esconder
            var cadastrador = document.getElementById("cadastrador");
            var verificador = document.getElementById("verificador");

            if(lat.value == '' || long.value == '' || cidade.value == '' || uf.value == '' || endereco.value == ''){
                alert('Endereço não encontrado!');
                latField.value = '';
                longField.value = '';
                endereco.value = '';
                cidade.value = '';
                uf.value = '';
                
                cadastrador.style.display = "none";
                verificador.style.display = "inline-block";
            } else {
            	alert('Endereço ok! Clique em "Cadastrar".');
                cadastrador.style.display = "inline-block";
                verificador.style.display = "none";
            }
        }
    </script>
  <script th:src="@{/js/halfmoon.min.js}" ></script>
</div>
</body>
</html>