<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CVV</title>

	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<link th:href="@{/css/halfmoon.min.css}" rel="stylesheet" />
	<script th:src="@{/js/halfmoon.min.js}" ></script>
	
	<!--Mapa-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	  crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
	  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
	  crossorigin=""></script>
	  
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		
</head>
<body>
  <div class="page-wrapper overflow-y-scroll with-navbar">
	<!--Navbar-->
	<div class="navbar">
		<div class="col-md-9 offset-md-1">
			<a href="/">Login</a>
		</div>
		<div class="text-right">
			<span>
				<small>Produzido por Renato Perdiz Rodrigues</small>
			</span>
		</div>
	</div>
	
	<div class="row formLogin">
		<div class="col-md-6 offset-md-3 formDiv formLogin">
			<h1>Recupere sua senha!</h1>
			<p class="formLogin">Enviaremos instruções para recuperar sua senha no seu e-mail.</p>
			<form action="#" th:action="@{/enviaEmail}" method="POST">
	            
	            <label for="E-mail">E-mail</label>
	            <input id="email" name="email" required class="form-control" type="email">
	
				<div class="text-right" style="margin-top:1em;">
		            <button id="cadastrador" class="btn btn-success">Enviar e-mail</button>
		        </div>
	        </form>
	    </div>
	</div>
  <script th:src="@{/js/halfmoon.min.js}" ></script>
</div>
</body>
</html>