body {
    background-color: #f2f2f2!important;
}

.formDiv {
	border: 1px solid #e6e6e6;
	border-radius: 1em;
	padding: 1em;
	background-color: #ffffff;
}

.navbar {
	height: 3em; 
	background-color: black!important;
	border-bottom: 1px solid  #e6e6e6;
	color: white!important
}

.navbar a {
	text-decoration: none;
	color: white!important
}

.dropCidades {
	height: 150px!important;
}

select{
	  -moz-appearance: none!important;
	  -webkit-appearance: none!important;
}

.btn-editar {
	margin-left: 0.3em;
	margin-bottom: 0.3em;
}