body {
    background-color: #f2f2f2!important;
    overflow-y:scroll!important!;
}

.formDiv {
	border: 1px solid #e6e6e6;
	border-radius: 1em;
	padding: 1em;
	background-color: #ffffff;
	margin-top:5em!important;
}

.navbar {
	height: 3em; 
	background-color: black!important;
	border-bottom: 1px solid  #e6e6e6;
	color: white!important
}

.navbar a {
	text-decoration: none;
	color: white!important
}

.dropCidades {
	height: 150px!important;
}

select{
	  -moz-appearance: none!important;
	  -webkit-appearance: none!important;
}

.btn-editar {
	margin-left: 0.3em;
	margin-bottom: 0.3em;
}

.erro_val {
	color: red;
	font-weight: bold;
	margin-bottom:1em;
}

@media only screen and (max-width: 600px) {
	.content-wrapper {
		margin-left:0.5em;
		margin-right:0.5em;
	}
	
	.navbar-content {
		display:block!important;
	}
	
	.dropdown-menu {
		display.block!important;
	}
}

function myFunction(x) {
  if (x.matches) { // If media query matches
    document.body.style.backgroundColor = "yellow";
  } else {
    document.body.style.backgroundColor = "pink";
  }
}

.btn-side{
	margin-right:1em!important;
}

.texto {
	margin-top: 2em;
}

.formLogin {
	margin-top: 3em;
}

@media only screen and (max-width: 600px) {
	.texto {
		margin-top: 1em;
		padding-left:1em;
		padding-right:1em;
	}
	.formLogin {
		margin-top: 0;
	}
	.formLogado {
		margin-top: 4em!important;
	}
	.formDiv {
		margin:1em!important;
	}
	.mapa{
		display:none;
	}
	.mapaMobile{
		margin:2em!important;
	}
}