<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CVV</title>

	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<link th:href="@{/css/halfmoon.min.css}" rel="stylesheet" />
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		
</head>
<body>
  <div data-sidebar-hidden="hidden" class="page-wrapper overflow-y-scroll with-navbar with-sidebar with-transitions" data-sidebar-type="overlayed-all">
  	
	<!--Navbar-->
	<div th:replace="fragments/navbar :: navbar" >
	</div>
	
	<!--Sidebar-->
	<div th:replace="fragments/sidebar :: sidebar" />
	</div>
    
	<div class="row formLogado">
		<div class="content-wrapper col-md-6 offset-md-3 formDiv formLogado">
			<h1>Fazer Check-up</h1>
			<p class="texto">Vamos analisar seus sintomas em relação ao COVID para conhecermos melhor o risco de exposição na sua área!<p>
			
			
            <div class="sidebar-divider"style="margin-top:1em;margin-bottom:1em;"></div>
	            
	        <h3>Sintomas</h3>    
	        <form action="#" th:action="@{/checkups/store}" th:object="${checkup}", method="POST">
	            <div th:each="pergunta, iStat : ${listaPerguntas}">
	                <h4 th:text="${pergunta.texto}"/>
	                <span th:each="resposta: ${listaRespostas}" th:if="${resposta.pergunta_id} == ${pergunta.id}">
	                	<input required type="radio" th:value="${resposta.score}" th:name="${iStat.index}" /> ) <span th:text="${resposta.texto}" /><br>
	                </span>
	            </div>
	            
	            <div class="sidebar-divider"style="margin-top:1em;margin-bottom:1em;"></div>
	            
	            <h3>Hábitos</h3>
	            <p class="texto">Estas perguntas extras não são relacionadas aos sintomas, mas nos ajudam a coletar informações sobre o risco da sua região! :) </p>
	            <div>
	            	<h4>Você está fazendo isolamento social?</h4>
	            	<input required type="radio" value="1" name="isolamento"/> ) Sim <br>
	            	<input required type="radio" value="0" name="isolamento"/> ) Não <br>
	            </div>
	            <div>
	            	<h4>Você utiliza máscara ao sair de casa?</h4>
	            	<input required type="radio" value="1" name="mascara"/> ) Sim <br>
	            	<input required type="radio" value="0" name="mascara"/> ) Não <br>
	            </div>
	            <div>
	            	<h4>Você realiza a higienização das mãos com frequência?</h4>
	            	<input required type="radio" value="1" name="higiene"/> ) Sim <br>
	            	<input required type="radio" value="0" name="higiene"/> ) Não <br>
	            </div>
	            <div class="text-right">
	            	<button class="btn btn-success">Registrar Check-Up</button>
	            </div>
	        </form>
	    </div>
    </div>
    
  </div>
  <script th:src="@{/js/halfmoon.min.js}" ></script>
</body>
</html>